.item{
	background: #F38630;
	height:500px;
}

.row{
	margin-top: 20px;
}


.page-container{
	min-height: 100%;
}


nav .btn{
	margin-top: 5px;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.btn-trans {
	background: none;
} 