*{
 	margin : 0;
 	padding : 0;
 	overflow:hidden;
}

body {
	font-size:12px;  
	font-family:"ו";
	background-attachment : fixed;
	background-position : 50% bottom;
	background-image : url("../img/bg_login.png");
	background-repeat : repeat-x;
	background-color : #a2d5f0;
}


#main .bottom{
	position : absolute;
	left : 50%;
	margin-left : -400px;
	width : 800px;
	height : 104px;
	bottom : 0px;
	background-image : url("../img/login_root.png");
}

#main .top{
	position : absolute;
	left : 50%;
	margin-left : -400px;
	width : 800px;
	height : 496px;
	bottom : 104px;
	background-image : url("../img/login_main.png");
}

#main .top .loginForm{
	position : relative;
	margin-top : 220px;
	margin-left : 370px;
	height : 170px;
	width : 363px;
	color : white;
}

#main .top .loginForm .name{
	margin-left : 25px;
	margin-bottom : 15px;
	width : 180px;
}

#main .top .loginForm .check{
	margin-left : 25px;
	width : 40px;
}

#main .top .loginForm .img{
	margin-left : 10px;
	margin-bottom : 0px;
}

#main .top .loginForm .dl{
	margin-left : 170px;
	width : 84px;
	height : 26px;
	background : url("../img/bg_button_blue.gif");
}

#login {
	margin-left:40px;
	width:174px;
	height:38px;
	background-color:#FF7373;
	border-radius:5px;
	text-align:center;
	display: block;
}

#login:hover {
	background-color:#FF8C8C;
}